ul {
  list-style: none;
}
.todo-container {
  width: 100%;
  padding-top: 5vh;
  /* background-color: lightgreen; */
}
.input-container {
  width: 70%;
  height: 5vh;
  margin: 0 auto;
  display: flex;
}
/* #61dafb */
.input-container > input {
  width: 85%;
  height: 100%;
  padding: 2px 4px;
  outline: none;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: none;
  color: white;
  background-color: #282c34;
  border: 2px solid white;
  border-right: none;
}
.input-container > button {
  width: 15%;
  height: 100%;
  display: inline-block;
  border: 2px solid white;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  color: #282c34;
  outline: none;
  cursor: pointer;
}
.input-container > input:focus {
  border-color: #61dafb;
}
.input-container > input:focus ~  button{
  border-color: #61dafb;
  background-color: #61dafb;
}


.todo-list-container {
  width: 70%;
  margin: 3vh auto 0;
  color: white;
}

@media screen and (max-width: 768px) {
  .input-container {
    width: 90%;
  }
  .todo-list-container {
    width: 90%;
  }
}