.App-logo {
  height: 100%;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}
.App-header {
  height: 5vh;
  padding: 1vh 12px 0;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App-header span {
  height: 100%;
  display: flex;
  align-items: center;
}
.App-header button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: calc(10px + 1vmin);
  font-weight: bold;
  color: white;
  /* position: absolute;
  right: 12px; */
  cursor: pointer;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}