@keyframes loading {
  0% {transform: translateX(-120%);}
  50% {transform: translateX(-60%);}
  100% {transform: translateX(120%);}
}

.shimmer__wrapper {
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  animation: loading 2s infinite;
}
.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
}